<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Update User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>

<body>
    <div class="container my-5">
        <h3> Update Pemesanan</h3>
        <div class="card">
            <div class="card-body">
                <div class="col-md-8">
                    <form action="#" th:action="@{/pemesanans/update/{id}(id=${pemesanan.id})}" th:object="${pemesanan}" method="post">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="kotaAsal" class="col-form-label">From</label> <input type="text" th:field="*{kotaAsal}" class="form-control" id="kotaAsal" placeholder="From"> <span th:if="${#fields.hasErrors('kotaAsal')}" th:errors="*{kotaAsal}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="kotaTujuan" class="col-form-label">To</label> <input type="text" th:field="*{kotaTujuan}" class="form-control" id="kotaTujuan" placeholder="To"> <span th:if="${#fields.hasErrors('Kota Tujuan')}" th:errors="*{kotaTujuan}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="keberangkatan" class="col-form-label">Departure Date</label> <input type="text" th:field="*{keberangkatan}" class="form-control" id="keberangkatan" placeholder="Departure Date"> <span th:if="${#fields.hasErrors('keberangkatan')}" th:errors="*{keberangkatan}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="kedatangan" class="col-form-label">Return Date</label> <input type="text" th:field="*{kedatangan}" class="form-control" id="kedatangan" placeholder="Return Date"> <span th:if="${#fields.hasErrors('kedatangan')}" th:errors="*{kedatangan}" class="text-danger"></span>
                            </div>
                           
                            
                            <div class="form-group col-md-8">
                                <label for="jumlahPenumpang" class="col-form-label">No. of Passengers</label> <input type="text" th:field="*{jumlahPenumpang}" class="form-control" id="jumlahPenumpang" placeholder="No. of Passengers"> <span th:if="${#fields.hasErrors('jumlahPenumpang')}" th:errors="*{jumlahPenumpang}" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-8">
                                <input type="submit" class="btn btn-primary" value="Update Pemesanan">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>